.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e8e8e8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.button_row {
  display: flex;
  width: 90vw;
  height: 20vh;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.button {
  background-color: #f89132;
  border-radius: 0.75rem;
  border: 0;
  padding: 0.5rem;
  font-size: 1.125rem;
  color: white;
}

.image {
  max-height: 20vh;
  max-width: 20vw;
}
.image_layout {
  display: flex;
  flex-direction: wrap;
  align-items: center;
  justify-content: center;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
